@page "/"

<h1>Welcome to Blazor School!</h1>

Demonstrate how to style your components with isolated CSS and shared CSS in Blazor Wasm. - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.