@page "/overriding-isolated-style"

<div class="overriding wrapper p-4">
    <h3>Overrided</h3>
    <PersonInformation></PersonInformation>
</div>

<div class="wrapper p-4 mt-2">
    <h3>Not Overrided</h3>
    <PersonInformation></PersonInformation>
</div>