@page "/scoped-style"

<div class="row">
    <div class="col-6">
        <PersonInformation></PersonInformation>
    </div>
    <div class="col-6">
        <PersonRoleManagement></PersonRoleManagement>
    </div>
</div>