<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Styling Component Blazor Wasm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scoped-style">
                <span class="oi oi-plus" aria-hidden="true"></span> Scoped Style
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="overriding-isolated-style">
                <span class="oi oi-plus" aria-hidden="true"></span> Overriding Isolated Style
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="global-style">
                <span class="oi oi-plus" aria-hidden="true"></span> Global Style
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="embedded-style">
                <span class="oi oi-plus" aria-hidden="true"></span> Embedded Style
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="external-style">
                <span class="oi oi-plus" aria-hidden="true"></span> External Style
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
